<div class="menu-bar__container">

  <div class="menu-bar__logo">
    <img
      src="assets/playstation-store-logo.png"
      alt="playstation logo"
      srcset=""
      width="140px"
      height="32px"
    >
  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile">LINKEDIN</a></li>
      <li><a href="https://github.com/jessimor">GITHUB</a></li>
      <li><a href="">YOUTUBE</a></li>
    </ul>
  </div>

</div>
